.aboutus-container{
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: azure;
}


.aboutus-title{
    font-family: apple chancery;
    text-align: center;
    padding-bottom: 50px;
    color: slategrey;
    font-size: 400%;
}


.section-text{
    text-align: justify;
}

