.aboutus-container{
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: azure;
}


.aboutus-title{
    font-family: apple chancery;
    text-align: center;
    padding-bottom: 50px;
    color: slategrey;
    font-size: 400%;
}


.header1{
    border-bottom: 5px double black;
    color: burlywood;
}

.header2{
    border-bottom: 5px double black;
    color: burlywood;
    text-align: right;
}

.section-text{
    text-align: justify;
}


.sectio-ads{
    padding-bottom: 80px;
}


.img{
    border-radius: 100px;
    height: 400px;
}

