/* 1 */
.navbar
{
    background-color: white;
}

.navbar-brand img{
    width: 300px;
    height: 60px;
}

.brand-container{
    padding-right: 100px;
}

.nav-item {
    padding-right: 50px;
    padding-left: 50px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;

}

.nav-link{
    color: black;
}




/* 2 */
.home-slider{
    padding-top: 15px;
    background-color: #f9f9f9;
}





/* 3 */
.home-slider .img-slider{
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    /* background: url(https://images.unsplash.com/photo-1665830025594-f850be11f929?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80) !important; */
}



/* 4 */

.sectio-ads{
    margin-top: 80px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 80px;
}

.sectio-ads-last{
    margin-top: 80px;
    padding-bottom: 80px;
}

.sectio-ads .ads-text{
    text-align: center;
    color:#dedede;
    margin-top: 40px;
}


/* 5 */

.footer{
    background-color: rgb(241, 235, 235);
    padding-top: 40px;
    padding-bottom: 10px;
}

.footer-icon{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.icon{
    width: 20px;
    height: 20px;
    padding-right: 70px;
}

.footer-text{
    text-align: center;
    color: rgb(108, 108, 108);
}